   button {
    font: bold 14px Arial;
    text-decoration: none;
    background-color: #ff0000;
    color: #333333;
    border-radius: 100px;
    padding: 10px 10px 10px 10px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-left: 2px solid #CCCCCC;
   }

   div {
   	font: 14px Times;
   	padding-bottom: 4px;
   	color: #00dd00;
   	background-color: black;
   }

   p {
   	font: bold 15px Times;
   	color: white;
   	background-color: #0000cc;
   	padding: 10px 10px 10px 10px;
   	text-align: center;
   	vertical-align: text-bottom;
   }

   a {
   	color: black;
   	font: bold 14px Arial;
   	text-align: center;
   	padding-left: 20px;
   	padding-right: 20px;
   	text-decoration: underline;
   }